:root {
  --green: #79A208;
  --background-svg: #d3deb2;
  --text: #2a2a2a;
  --title-green:#0C3C00;
  --grey: #757575;
  --white: #ffffff;
  --middle-white: #ececec;
  --light-grey: #dfdde8;
  --middle-grey: #afb1b8;
  --aboutus: #e7dde2;
  --contacts-info: #e7c3e7;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}

.link {
  color: var(--title-green);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--green);
}

/*-- HEADER --*/

.header {
  border: 1px solid var(--middle-white);
}
.header-container {
  /* display: flex; */
}
.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo{
padding: 10px 0;
}
.header-logo-first-text{
    text-transform: capitalize;
      font-family: 'Noto Serif:ital',
        serif;
      font-size: 46px;
      font-weight: 700;
      line-height: 1.19em;
      color:var(--green);
      text-decoration: none;
}
.header-logo-second-text{
  text-transform: capitalize;
    font-family: 'Noto Serif:ital',
      serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.19em;
    color: var(--title-green);
    text-decoration: none;

}
.header-list-nave {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
/* .header-item:not(:last-child) {
  margin-right: 50px;
} */
.header-item{
  margin-right: 70px;
}
.header-nave {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.14em;
  padding: 30px 0;
}

.header-list-nave .nave {
  color: var(--green);
}
.header-liner-about-us::after {
  content: "";
  width: 80px;
  height: 4px;
  background-color: var(--green);
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 65px;
}
/* .header-liner-portfolio::after {
  content: "";
  width: 78px;
  height: 4px;
  background-color: var(--green);
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 79px;
} */
/* .header-connect {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--grey);
  align-items: center;
  padding: 32px 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon {
  margin-right: 10px;
  fill: var(--grey);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--blue);
}
.header-contact:hover .header-icon,
.header-contact:focus .header-icon {
  fill: var(--blue);
}
.header-tel {
  margin-left: 30px;
} */

/*-- HERO --*/

.hero-title {
  font-family: 'Noto Serif', sans-serif;
  font-weight: 900;
  font-size: 90px;
  line-height: 1.36em;
  color: var(--title-green);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-uptitle{
      font-weight: 600;
      font-size: 30px;
      line-height: 1.36em;
      color: var(--green);
      text-transform: uppercase;
      margin-bottom: 30px;
}
.hero-bottom-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.36em;
    color: var(--light-grey);
    margin-bottom: 30px;
}
.hero {
  text-align: center;
  min-height: 700px;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;

  background-image: linear-gradient(
      rgba(160, 162, 165, 0.4),
      rgba(127, 127, 130, 0.4)
    ),
    url("../images/hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-button {
  cursor: pointer;
  font-weight: bold;
  padding: 15px 32px;
  font-size: 14px;
  line-height: 1.87em;
  color: var(--light-grey);
  background-color:transparent;
  min-width: 100px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 30px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--title-green);
}
.active-now{
  background-color: var(--green);
}

/*-- ABOUT US --*/

/* .priorities-enumeration-text {
  display: flex;
} */
/* .priorities:not(:last-child) {
  margin-right: 30px;
} */
/* .priorities-image {
  width: 270px;
  height: 120px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
} */
.aboutus{
      min-height: 600px;
      padding: 50px 70px;
}
.aboutus-section{
  display: flex;
}
.aboutus-uptitle{
  font-weight: 900;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.74em;
  color: var(--green);
  letter-spacing: 0.03em;
}

.aboutus-title {
  font-family: 'Noto Serif:ital', serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: var(--title-green);
}
.aboutus-bottom-title{
  font-weight: 600;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.74em;
    color: var(--grey);
    letter-spacing: 0.03em;

}
.aboutus-list{
  margin-bottom: 20px;
  font-weight: 600;
    font-size: 20px;
    line-height: 1.74em;
    color: var(--text);
    letter-spacing: 0.03em;
}
.aboutus-write-section{
  padding: 60px;
}
.aboutus-button{
  cursor: pointer;
    font-weight: bold;
    padding: 20px 32px;
    font-size: 14px;
    line-height: 1.87em;
    color: var(--middle-white);
    background-color: var(--green);
    min-width: 100px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 30px;
}
.aboutus-button:hover,
.aboutus-button:focus{
  background-color: var(--title-green);
}


/*-- ENGAGE --*/

.engage-caption-title {
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 3%;
  margin-bottom: 50px;
  text-align: center;
}

.engage-photo {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
}

.engage-photo-thumb {
  position: relative;
}

.engage-photo-background {
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding: 27px 0;
}

/*--ABOUTPLANTS--*/
.wrapper{
background:linear-gradient(30deg, #d3deb2, #e9d4e9);
}
.section-aboutplants {
  padding: 50px 70px;
}

.aboutplants-wrapper {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
}
.aboutplants-card {
 display: flex;
 flex-direction: column;
align-items: flex-start;
 flex-wrap: wrap;
 align-content: flex-start;
 justify-content: space-around;
  width: 330px;
  height: 500px;
  padding: 30px 40px 50px 50px;
  background-color: var(--white);
  border-radius: 6px;
  border-top: 7px solid var(--green);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.aboutplants-wrapper-svg{
  display: flex;
    align-items: center;
    justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--background-svg);

}
.aboutplants-title {
    font-family: 'Noto Serif:ital', serif;
  font-weight: 900;
  font-size: 35px;
  color: var(--title-green);
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
.aboutplants-description {
  font-size: 23px;
  font-weight: 400;
  line-height: 1.18em;
  color: var(--grey);
  letter-spacing: 0.03em;
}
.aboutplants-button{
  cursor: pointer;
  font-weight: 600;
    padding: 20px 32px;
    font-size: 14px;
    line-height: 1.87em;
    color: var(--title-green);
    background-color: transparent;
    min-width: 100px;
    text-align: center;
    border: none;
    border-radius: 30px;
}
/* .team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--blue);
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--white);
}
.team-social-icon {
  fill: var(--middle-grey);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}
.team-social-item:last-child {
  margin-right: 0;
} */


/*-- OURPLANTS --*/

.ourplants-section{
  padding: 50px 70px;
}
.ourplants-title-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--middle-grey);
  margin-bottom: 40px;
}
.ourplants-title {
  font-family: 'Noto Serif:ital', serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: var(--title-green);
}
.ourplants-up-title{
font-weight: 900;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.74em;
  color: var(--green);
  letter-spacing: 0.03em;
}
.ourplants-bottom-title{
font-weight: 400;
  font-size: 25px;
  line-height: 1.14em;
color:var(--title-green);
margin-bottom: 70px;
}
.ourplants-button-wrapper{
display: flex;
}
.ourplants-button{
  cursor: pointer;
  background-color:transparent;
  border: none;
  padding: 20px;
  color: var(--green);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
}
.ourplants-button:hover,
.ourplants-button:focus{
  color: var(--title-green);
}
.nave-button::after{
  content: "";
    width: 90px;
    height: 4px;
    background-color: var(--green);
    border-radius: 2px;
    display: block;
    position: absolute;
}
.ourplants-description-title{
font-family: 'Noto Serif:ital', serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.14em;
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--title-green);
}
.ourplants-description-subtitle{
  font-size: 18px;
    font-weight: 400;
    line-height: 1.18em;
    color: var(--grey);
}
.ourplants-list{
  display: flex;
    flex-basis: auto;
    justify-content: space-between;
}
.ourplants-card{
 width: 470px;
 height: 750px;
 display: flex;
 flex-direction: column;
flex-wrap: wrap;
 justify-content: flex-start;
}
.ourplants-img{
  width: 470px;
  height: 530px;
  border-radius: 10px;
}


/* ----OURCONTACTS------- */

.ourcontacts-section{
  text-align: center;
    min-height: 500px;
    /* max-width: 1600px; */
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
    background-image: linear-gradient(rgba(160, 162, 165, 0.4),
      rgba(127, 127, 130, 0.4)),
      url("../images/ourcontacts-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ourcontacts-title{
  font-family: 'Noto Serif:ital', serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.14em;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--middle-white);
}
.ourcontacts-list{
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}
.ourcontacts-subtitle{
  display:inline-flex;
  font-family: 'Noto Serif:ital', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.14em;
    margin-top: 30px;
    margin-right: 30px;
    color: var(--middle-white);
}
.ourcontacts-info{
  font-family: 'Noto Serif:ital', serif;
  font-weight: 600;
    font-size: 30px;
    line-height: 1.14em;
    color: var(--contacts-info);
}


/* ----PRICING---- */

.pricing-section{
background: linear-gradient(30deg, #d3deb2, #e9d4e9);
    padding: 50px 70px;
}
.pricing-title-wrapper{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--middle-grey);
    margin-bottom: 40px;
}

.pricing-up-title{
  font-weight: 900;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.74em;
    color: var(--green);
    letter-spacing: 0.03em;
}
.pricing-title{
  font-family: 'Noto Serif:ital', serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: var(--title-green);
}
.description-button-wrapper{
  display: flex;
}
.description-button{
    cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 20px;
      color: var(--green);
      font-weight: 600;
      font-size: 20px;
      line-height: 1.14em;
      letter-spacing: 0.03em;
}
.description-button:hover,
.description-button:focus{
  color: var(--title-green);
}
.description-nave-button::after{
  content: "";
    width: 145px;
    height: 4px;
    background-color: var(--green);
    border-radius: 2px;
    display: block;
    position: absolute;
}
.pricing-list{
  display: flex;
    flex-basis: auto;
    justify-content: space-between;
}
.pricing-card{
  width: 470px;
    height: 750px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
      align-items: center;
}
.pricing-img{
  width: 470px;
    height: 530px;
    border-radius: 10px;
}
.pricing-description-title{
  font-family: 'Noto Serif:ital', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.14em;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--title-green);
}
.pricing-description-subtitle{
  font-weight: 700;
    font-size: 30px;
      line-height: 1.18em;
      color: var(--green);
}
.price-button{
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background-color: var(--green);
  color: var(--middle-white);
  padding: 30px;
  width: 160px;
  font-weight: 700;
    font-size: 14px;
}
.price-button:hover,
.price-button:focus{
  background-color: var(--title-green);
}

/* ----OURCUSTOMERS------ */

.ourcustomer-section {
  background-image: url("../images/footer-background.jpg");
}

.ourcustomer-wrapper {
  width: 300px;
  height: 190px;
  background-color: var(--title-green);
  display: flex;
  align-items: center;
  padding: 25px;
  border-radius: 4px;
  border: 3px solid var(--green);
  box-shadow: 0px 10px 10px rgba(62, 124, 30, 0.479), 0px 4px 4px rgba(0, 0, 0, 0.06),
    2px 0px 30px rgba(68, 183, 10, 0.479);
}

.ourcustomer-title {
  font-family: 'Noto Serif:ital', serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: var(--middle-white);
  display: flex;
  justify-content: center;
}

.ourcustomer-list {
  display: flex;
  justify-content: space-between;
}






/*-- FOOTER --*/

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--title-green);
  padding: 60px 215px;
}
.footer-adres {
  display: flex;
}
.footer-address {
  width: 231px;
  margin-top: 20px;
}
.footer-social {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}
.footer-social-item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* .footer-studio {
  color: var(--white);
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
} */
/* .footer-logo {
  color: var(--blue);
} */
.footer-logo-first-text{
  text-transform: capitalize;
    font-family: 'Noto Serif:ital',
      serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.19em;
    color: var(--green);
    text-decoration: none;
}
.footer-logo-second-text{
  text-transform: capitalize;
    font-family: 'Noto Serif:ital',
      serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.19em;
    color: var(--middle-white);
    text-decoration: none;
}
.footer-svg{
  fill: var(--middle-white);
}
.footer-address-title {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  font-style: normal;
  color: var(--white);
  margin-top: 20px;
}
.footer-mailto {
  color: var(--grey);
  font-size: 14px;
  line-height: calc(24 / 14);
  font-style: normal;
}
.footer-mailto-botom {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-telephone {
  color: var(--grey);
  font-size: 14px;
  line-height: calc(24 / 14);
  font-style: normal;
}
.footer-title {
  color: var(--white);
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-dark-icon {
  fill: var(--white);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--blue);
}

.footer-form-input {
  margin-right: 12px;
  padding: 15px;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;

  font-size: 16px;
  line-height: calc(30 / 16);

  display: block;
  align-items: center;
  background:var(--green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--blue);
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white);
}
.footer-form-icon {
  position: absolute;
  left: 145px;
  top: 10px;
}
.footer-form {
  display: flex;
}
.footer-form-column-right {
  width: 570px;
  height: 87px;
  margin-left: 93px;
}
/*-- BUTTONS --*/

.button-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  margin-bottom: 50px;
  padding: 6px 22px;
  margin-left: 8px;

  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--light-grey);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--blue);
}
.button:last-child {
  margin-right: 0;
}

/*-- CARD --*/

.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid var(--card-border);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-body {
  background-color: var(--white);
  padding: 20px 24px;
}
.card:hover,
.card:focus {
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 4px;
}
.card-specification {
  font-size: 16px;
  line-height: 1.875em;
  color: var(--grey);
  margin-bottom: 20px;
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-animation {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: calc(28 / 18);

  letter-spacing: 0.03em;

  color: var(--white);
  background-color: rgba(48, 151, 235, 0.9);
}
.card:hover .card-animation {
  transform: translateY(0);
}

/*-- MODAL --*/

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 530px;
  min-height: 580px;
  border-radius: 4px;
  background-color: var(--white);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.btn-close {
  cursor: pointer;
  position: absolute;
  contain: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  top: 8px;
  right: 8px;
}
.btn-close:hover {
  fill: var(--blue);
}
.modal-title {
  font-size: 20px;
  font-weight: 700px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.form-fied {
  margin-bottom: 20px;
}
.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}
.form-fied-text {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--grey);
  margin-bottom: 5px;
}
.form-text {
  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 5px 10px;
  resize: none;
  outline: none;
}
.form-text::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.input-wrapper {
  display: block;
  position: relative;
}
.form-input:focus {
  cursor: pointer;
  border-color: var(--blue);
}
.form-input:focus + .form-icon {
  fill: var(--blue);
}
.check-text {
  display: flex;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-bottom: 30px;
}
.check-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-checkbox:checked + .check-text > .check-item {
  background-color: var(--blue);
  border-color: var(--blue);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
.form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  cursor: pointer;

  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--blue);
  color: var(--white);
  font-size: 16px;
  line-height: calc(30 / 16);

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
}
.check-text-link {
  display: flex;
  margin-left: 5px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--blue);
  text-decoration: underline;
}
