:root {
  --green: #79A208;
  --background-svg: #d3deb2;
  --text: #2a2a2a;
  --title-green:#0C3C00;
  --grey: #757575;
  --white: #ffffff;
  --middle-white: #ececec;
  --light-grey: #dfdde8;
  --middle-grey: #afb1b8;
  --aboutus: #e7dde2;
  --contacts-info: #e7c3e7;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */
a {
  text-decoration: none;
}
.link {
  color: var(--title-green);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--green);
}

  @media screen and (min-width: 480px) {
      .container {
          width: 100%;
          margin: 0 auto;
          padding: 0 10px;
        }
  }

  @media screen and (min-width: 768px) {
      .container {
          width: 100%;
          margin: 0 auto;
          padding: 0 10px;
        }
  }

  @media screen and (min-width: 1200px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
  }
}
@media screen and (min-width: 480px) {
  .section {
      padding: 60px 0;
  }
}

  @media screen and (min-width: 1200px) {
    .section {
    padding: 94px 0;
    }
  }


/*----- HEADER -------*/

.header {
  border: 1px solid var(--middle-white);    
}
.header-logo-first-text {
  text-transform: capitalize;
  font-family: 'Noto Serif:ital',
    serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.19em;
  color: var(--green);
  text-decoration: none;
}

.header-logo-second-text {
  text-transform: capitalize;
  font-family: 'Noto Serif:ital',
    serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.19em;
  color: var(--title-green);
  text-decoration: none;

}
.header-nav-container{
      display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: 5px 20px;
}

.header-list-nave {
 display: none;
}
.header-logo {
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
.header-list-nave {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
   }
  .header-nave {
          font-weight: 400;
          font-size: 18px;
          line-height: 1.14em;
          padding: 25px 0;
   }
  .header-item {
                  margin-right: 20px;
   }
   .header-logo-first-text {
                          text-transform: capitalize;
                           font-family: 'Noto Serif:ital',
                             serif;
                            font-size: 30px;
                           font-weight: 700;
                           line-height: 1.19em;
                           color: var(--green);
                           text-decoration: none;
   }
   .header-logo-second-text {
                  text-transform: capitalize;
                  font-family: 'Noto Serif:ital',
                    serif;
                  font-size: 30px;
                  font-weight: 700;
                  line-height: 1.19em;
                  color: var(--title-green);
                  text-decoration: none;
        
    }
    }
 @media screen and (min-width: 1200px) {
  .header-list-nave {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
     }
   .header-nave {
            font-weight: 400;
            font-size: 25px;
            line-height: 1.14em;
            padding: 30px 0;
      }
    .header-item {
                      margin-right: 60px;
       }
   .header-logo-first-text {
            text-transform: capitalize;
            font-family: 'Noto Serif:ital',
             serif;
             font-size: 46px;
            font-weight: 700;
            line-height: 1.19em;
            color: var(--green);
            text-decoration: none;
    }
                    
  .header-logo-second-text {
         text-transform: capitalize;
         font-family: 'Noto Serif:ital',
                serif;
        font-size: 46px;
        font-weight: 700;
        line-height: 1.19em;
        color: var(--title-green);
          text-decoration: none;          
     }
   .header-list-nave .nave {
                           color: var(--green);
     }
            
   .header-liner-about-us::after {
                           content: "";
                           width: 80px;
                           height: 4px;
                           background-color: var(--green);
                           border-radius: 2px;
                           display: block;
                           position: absolute;
                           top: 65px;
      }
        }
 .header-btn {
   border: none;
   cursor: pointer;
   background-color: transparent;
   width: 50px;
   padding: 5px; 
 }
    @media screen and (min-width: 768px) {
      .header-btn{
        display: none;
      }
    }
  
    @media screen and (min-width: 1200px) {
      .header-btn {
          display: none;
        }
    }
 .header-icon-menu:hover,
 .header-icon-menu:hover{
fill: var(--green);
 }
 

/*------ HERO --------*/

.hero {
  text-align: center;
  min-height: 700px;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;

  background-image: linear-gradient(rgba(160, 162, 165, 0.4),
      rgba(127, 127, 130, 0.4)),
    url("../images/hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 .hero-uptitle {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.36em;
   color: var(--green);
   text-transform: uppercase;
   margin-bottom: 30px;
 }
    .hero-title {
      font-family: 'Noto Serif', sans-serif;
      font-weight: 900;
      font-size: 60px;
      line-height: 1.36em;
      color: var(--title-green);
      text-transform: uppercase;
      margin-bottom: 30px;
    }
         .hero-bottom-title {
           font-weight: 600;
           font-size: 18px;
           line-height: 1.36em;
           color: var(--light-grey);
           margin-bottom: 70px;
         }
 .hero-button-wrapper {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   align-items: center;
 }
.hero-button {
  cursor: pointer;
  font-weight: bold;
  padding: 15px 32px;
  font-size: 14px;
  line-height: 1.87em;
  color: var(--light-grey);
  background-color: transparent;
  min-width: 100px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 30px;
  margin-top: 30px;
  margin-right: 20px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--title-green);
}

.active-now {
  background-color: var(--green);
}
@media screen and (min-width: 768px) {
  .hero-uptitle {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.36em;
      color: var(--green);
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  .hero-title {
      font-family: 'Noto Serif', sans-serif;
      font-weight: 900;
      font-size: 90px;
      line-height: 1.36em;
      color: var(--title-green);
      text-transform: uppercase;
      margin-bottom: 30px;
    }
 .hero-bottom-title {
          font-weight: 600;
          font-size: 20px;
          line-height: 1.36em;
          color: var(--light-grey);
          margin-bottom: 30px;
   }
   .hero-button-wrapper{
          display: flex;
          flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: center;
   }
}

@media screen and (min-width: 1200px) {
  .hero-uptitle {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.36em;
      color: var(--green);
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  .hero-title {
      font-family: 'Noto Serif', sans-serif;
      font-weight: 900;
      font-size: 90px;
      line-height: 1.36em;
      color: var(--title-green);
      text-transform: uppercase;
      margin-bottom: 30px;
    }
   .hero-bottom-title {
          font-weight: 600;
          font-size: 20px;
          line-height: 1.36em;
          color: var(--light-grey);
          margin-bottom: 30px;
    }
   .hero-button-wrapper {
                   display: flex;
                  flex-direction: row;
                   align-content: center;
                   justify-content: center;
                   align-items: center;
     }
}

/*------ ABOUT US --------*/

.aboutus{
      min-height: 600px;
      padding: 20px 15px;
}
.aboutus-write-section {
  padding: 10px 60px;
}
.aboutus-uptitle {
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.74em;
  color: var(--green);
  letter-spacing: 0.03em;
}
.aboutus-title {
  font-family: 'Noto Serif:ital', serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: var(--title-green);
}
.aboutus-bottom-title {
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.74em;
  color: var(--grey);
  letter-spacing: 0.03em;

}
.aboutus-list {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.74em;
  color: var(--text);
  letter-spacing: 0.03em;
}

.aboutus-button {
  cursor: pointer;
  font-weight: bold;
  padding: 20px 32px;
  font-size: 14px;
  line-height: 1.87em;
  color: var(--middle-white);
  background-color: var(--green);
  min-width: 100px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 30px;
  margin-bottom: 20px;
}

.aboutus-button:hover,
.aboutus-button:focus {
  background-color: var(--title-green);
}
 .aboutus-img {
   margin-left: 15px;
 }

@media screen and (min-width: 768px) {
  .aboutus-section {
    display: flex;
    justify-content: space-evenly;
    }
        .aboutus-write-section {
          width: 340px;
        }
        .aboutus-img{
          height: 400px;
          margin-left: 0;
        }
       .aboutus-uptitle{
      font-weight: 700;
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 1.74em;
      color: var(--green);
      letter-spacing: 0.03em;
    }
       .aboutus-title {
      font-family: 'Noto Serif:ital', serif;
      font-weight: 700;
      font-size: 45px;
      line-height: 1.14em;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: var(--title-green);
    } 
       .aboutus-bottom-title{ 
      font-weight: 600;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 1.74em;
        color: var(--grey);
        letter-spacing: 0.03em;
    }  
      .aboutus-list{
      margin-bottom: 20px;
      font-weight: 600;
        font-size: 18px;
        line-height: 1.74em;
        color: var(--text);
        letter-spacing: 0.03em;
    }
}
@media screen and (min-width: 1200px) {
  .aboutus-write-section {
      width: 500px;
    }
        .aboutus-img {
          width: 600px;
          height: 700px;
          margin-left: 0;
        }
  .aboutus-uptitle{
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.74em;
    color: var(--green);
    letter-spacing: 0.03em;
  }
  
    .aboutus-title {
    font-family: 'Noto Serif:ital', serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--title-green);
  }
    .aboutus-bottom-title{
    font-weight: 600;
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 1.74em;
      color: var(--grey);
      letter-spacing: 0.03em;
  
  }
    .aboutus-list{
    margin-bottom: 20px;
    font-weight: 600;
      font-size: 20px;
      line-height: 1.74em;
      color: var(--text);
      letter-spacing: 0.03em;
  }
}


/*------ABOUTPLANTS------*/

.wrapper{
background:linear-gradient(30deg, #d3deb2, #e9d4e9);
}
.section-aboutplants {
  padding: 10px 15px;
}
.aboutplants-card {
 display: flex;
 flex-direction: column;
align-items: flex-start;
 flex-wrap: wrap;
 align-content: flex-start;
 justify-content: space-around;
  width: 270px;
  height: 350px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 15px;
  background-color: var(--white);
  border-radius: 6px;
  border-top: 7px solid var(--green);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.aboutplants-wrapper-svg{
  display: flex;
    align-items: center;
    justify-content: center;
  width: 70px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--background-svg);

}
.aboutplants-title {
    font-family: 'Noto Serif:ital', serif;
  font-weight: 400px;
  font-size: 18px;
  color: var(--title-green);
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
.aboutplants-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.18em;
  color: var(--grey);
  letter-spacing: 0.03em;
}
.aboutplants-button{
  cursor: pointer;
  font-weight: 600;
    padding: 10px 25px;
    color: var(--title-green);
    background-color: transparent;
    min-width: 100px;
    text-align: center;
    border: none;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {

.aboutplants-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} 
.section-aboutplants {
   padding: 30px 10px;
}
.aboutplants-card {
   padding: 10px 10px 10px 10px; 
}

}
@media screen and (min-width: 1200px) {
  .aboutplants-wrapper {
      display: flex;
      justify-content:center;
      flex-wrap: nowrap;
    }
   .aboutplants-title {
          font-family: 'Noto Serif:ital', serif;
          font-weight: 700px;
          font-size: 28px;
          color: var(--title-green);
          line-height: 1.18em;
          letter-spacing: 0.03em;
        }
    .aboutplants-card {
                  padding: 10px 10px 10px 10px;
                  margin-right: 30px;
                  width: 350px;
                  height: 450px;
                }
   .aboutplants-wrapper-svg {
        width: 130px;
  height: 130px;
       }
   .aboutplants-description {
               font-size: 18px;
               font-weight: 400;
               line-height: 1.18em;
               color: var(--grey);
               letter-spacing: 0.03em;
             }
}

/*-- OURPLANTS --*/

.ourplants-title-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--middle-grey);
  margin-bottom: 40px;
}
.ourplants-title {
  font-family: 'Noto Serif:ital', serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: var(--title-green);
}
.ourplants-up-title{
  font-weight: 600;
    font-size: 12px;
    margin-bottom: 30px;
  line-height: 1.74em;
  color: var(--green);
  letter-spacing: 0.03em;
}
.ourplants-bottom-title{
font-weight: 400;
  font-size: 14px;
  line-height: 1.14em;
color:var(--title-green);
margin-bottom: 70px;
}
.ourplants-button-wrapper{
display: flex;
}
.ourplants-button{
  cursor: pointer;
  background-color:transparent;
  border: none;
  padding: 20px;
  color: var(--green);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
}
.ourplants-button:hover,
.ourplants-button:focus{
  color: var(--title-green);
}
.ourplants-description-title{
font-family: 'Noto Serif:ital', serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.14em;
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--title-green);
}
.ourplants-description-subtitle{
  font-size: 12px;
    font-weight: 400;
    line-height: 1.18em;
    color: var(--grey);
}
.ourplants-card{
 width: 320px;
 height: 470px;
 display: flex;
 flex-direction: column;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.ourplants-card:last-child{
 margin-bottom: 0px;
}
.ourplants-img{
  width: 320px;
  height: 380px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .ourplants-title {
      font-family: 'Noto Serif:ital', serif;
       font-weight: 700;
        font-size: 60px; 
      line-height: 1.14em;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 50px;
      color: var(--title-green);
    }
   .ourplants-up-title {
         font-weight: 900;
        font-size: 18px; 
         margin-bottom: 50px; 
          line-height: 1.74em;
          color: var(--green);
          letter-spacing: 0.03em;
     }
   .ourplants-bottom-title {
                  font-weight: 400;
                  font-size: 25px; 
                  line-height: 1.14em;
                  color: var(--title-green);
                  margin-bottom: 70px;
     }
  .ourplants-button {
           font-size: 20px; 
    }
   .ourplants-description-title {
                  font-family: 'Noto Serif:ital', serif;
                  font-weight: 600;
                  font-size: 18px; 
                  line-height: 1.14em;
                  margin-top: 10px;
                  margin-bottom: 15px;
                  color: var(--title-green);
   }
     .ourplants-description-subtitle {
                     font-size: 14px;
                      font-weight: 400;
                       line-height: 1.18em;
                      color: var(--grey);
      }
    .ourplants-list{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
     }
    .ourplants-card {
    height: 490px;
  }
}
@media screen and (min-width: 1200px) {
  .ourplants-list {
    display: flex;
    flex-wrap: nowrap;
      justify-content: center;
    }
  .ourplants-description-title {
          font-size: 28px;
   }
    
   .ourplants-description-subtitle {
          font-size: 18px;
     }
  .ourplants-card {
                  width: 350px;
                  height: 550px;
    }
   .nave-button::after {
                  content: "";
                  width: 90px;
                  height: 4px;
                  background-color: var(--green);
                  border-radius: 2px;
                  display: block;
                  position: absolute;
   }
}


/* ----OURCONTACTS------- */

.ourcontacts-section{
  text-align: center;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
    background-image: linear-gradient(rgba(160, 162, 165, 0.4),
      rgba(127, 127, 130, 0.4)),
      url("../images/ourcontacts-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ourcontacts-title{
  font-family: 'Noto Serif:ital', serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.14em;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--middle-white);
}
.ourcontacts-list{
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
     padding: 10px 20px;
}
.ourcontacts-subtitle{
  display:inline-flex;
  font-family: 'Noto Serif:ital', serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.14em;
    margin-top: 10px;
    margin-right: 10px;
    color: var(--middle-white);
}
.ourcontacts-info{
  font-family: 'Noto Serif:ital', serif;
  font-weight: 600;
  font-size: 12px;
    line-height: 1.14em;
    color: var(--contacts-info);
}

@media screen and (min-width: 768px) {
  .ourcontacts-section {
    min-height: 500px;
  }
    .ourcontacts-title {
     font-weight: 700;
     font-size: 80px; 
}
.ourcontacts-subtitle {
   font-weight: 700;
    font-size: 40px; 
     margin-top: 30px;
    margin-right: 30px; 
}
.ourcontacts-info {
font-size: 30px; 
}
}
@media screen and (min-width: 1200px) {}

/* ----PRICING---- */

.pricing-section{
background: linear-gradient(30deg, #d3deb2, #e9d4e9);
 padding: 50px 0; 
}
.pricing-title-wrapper{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--middle-grey);
    margin-bottom: 40px;
}
.pricing-up-title{
  font-weight: 600;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.74em;
    color: var(--green);
    letter-spacing: 0.03em;
}
.pricing-title{
  font-family: 'Noto Serif:ital', serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: var(--title-green);
}
.description-button-wrapper{
  display: flex;
}
.description-button{
    cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 20px;
      color: var(--green);
      font-weight: 600;
      font-size: 14px;
      line-height: 1.14em;
      letter-spacing: 0.03em;
}
.description-button:hover,
.description-button:focus{
  color: var(--title-green);
}
.pricing-card{
  width: 320px;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
          padding: 10px 20px;
}
.pricing-card:last-child{
  margin-bottom: 0;
}
.pricing-img{
  width: 320px;
    height: 400px;
    border-radius: 10px;
}
.pricing-description-title{
  font-family: 'Noto Serif:ital', serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.14em;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--title-green);
}
.pricing-description-subtitle{
  font-weight: 600;
    font-size: 18px;
      line-height: 1.18em;
      color: var(--green);
}
.price-button{
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background-color: var(--green);
  color: var(--middle-white);
  padding: 15px;
  width: 160px;
  font-weight: 600;
    font-size: 12px;
}
.price-button:hover,
.price-button:focus{
  background-color: var(--title-green);
}

@media screen and (min-width: 768px) {
  .pricing-up-title {
     font-weight: 900;
     margin-bottom: 50px;
     font-size: 18px; 
  }
   .pricing-title {
      font-weight: 900;
       font-size: 40px; 
    }
   .description-button {
           font-weight: 600;
           font-size: 18px; 
    }
   .pricing-card {
                   width: 300px;
                   height: 500px; 
      }
   .pricing-img {
         width: 300px;
        height: 350px; 
       }
  .pricing-description-title {
               font-weight: 600;
               font-size: 26px;
               margin-top: 0;
               margin-bottom: 0; 
      }
   .pricing-description-subtitle {
           font-size: 28px; 
     }
   .price-button {
                  padding: 15px;
                   font-weight: 600;
                  font-size: 12px; 
    }
     .pricing-list {
                  display: flex;
                  justify-content: center;
                  flex-wrap: wrap;
                  align-content: center;
                  align-items: flex-start;
     }
}
@media screen and (min-width: 1200px) {
  .description-nave-button::after {
      content: "";
      width: 145px;
      height: 4px;
      background-color: var(--green);
      border-radius: 2px;
      display: block;
      position: absolute;
    }
   .pricing-list {
        display: flex;
          flex-wrap: nowrap;
          justify-content: center;
   }
  .pricing-up-title {
                  font-weight: 900;
                  margin-bottom: 50px;
                  font-size: 18px;
    }
        
    .pricing-title {
                  font-weight: 900;
                  font-size: 60px;
   }
        
 .description-button {
                  font-weight: 600;
                  font-size: 20px;
    }
        
 .pricing-card {
                  width: 350px;
                  height: 650px;
   }
        
   .pricing-img {
                  width: 320px;
                  height: 430px;
    }
        
   .pricing-description-title {
                  font-weight: 700;
                  font-size: 30px;
   }
        
   .pricing-description-subtitle {
                  font-size: 30px;
   }
        
   .price-button {
                  padding: 30px;
                  font-weight: 700;
                  font-size: 14px;
     }
}

/* ----OURCUSTOMERS------ */

.ourcustomer-section {
  background-image: url("../images/footer-background.jpg");
  padding: 10px 10px;
}

.ourcustomer-wrapper {
  width: 250px;
  height: 120px;
  margin-bottom: 15px;
  background-color: var(--title-green);
  display: flex;
  align-items: center;
  padding: 25px;
  border-radius: 4px;
  border: 3px solid var(--green);
  box-shadow: 0px 10px 10px rgba(62, 124, 30, 0.479), 0px 4px 4px rgba(0, 0, 0, 0.06),
    2px 0px 30px rgba(68, 183, 10, 0.479);
}
.ourcustomer-img{
  width: 250px;
  height: 100px;
}
.ourcustomer-title {
  font-family: 'Noto Serif:ital', serif;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 30px;
  padding-top: 15px;
  margin-left: 25px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--middle-white);
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .ourcustomer-list {
      display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
        .ourcustomer-wrapper {
          margin-right: 15px;
        }
}
@media screen and (min-width: 1200px) {
  .ourcustomer-list {
      display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
   .ourcustomer-img{
        width: 300px;
        height: 150px;
      }
   .ourcustomer-wrapper {
             width: 300px;
            height: 190px; 
      }
   .ourcustomer-title {
             font-weight: 900;
             font-size: 60px; 
             margin-bottom: 50px; 
     }
}

/*-- FOOTER --*/

.footer {
  background-color: var(--title-green);
  padding: 20px 30px;
 
}
.footer-logo{
  padding: 10px 0;
}
.footer-address {
  width: 231px;
  margin-top: 20px;
}
.footer-social {
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.footer-social-item {
  display: flex;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  margin-right: 20px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-first-text{
  text-transform: capitalize;
    font-family: 'Noto Serif:ital',
      serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.19em;
    color: var(--green);
    text-decoration: none;
}
.footer-logo-second-text{
  text-transform: capitalize;
    font-family: 'Noto Serif:ital',
      serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.19em;
    color: var(--middle-white);
    text-decoration: none;
}
.footer-svg{
  fill: var(--middle-white);
}
.footer-address-title {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  font-style: normal;
  color: var(--white);
  margin-top: 20px;
}
.footer-mailto {
  color: var(--white);
  font-size: 14px;
  line-height: calc(24 / 14);
  font-style: normal;
}
.footer-mailto-botom {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-telephone {
  color: var(--white);
  font-size: 14px;
  line-height: calc(24 / 14);
  font-style: normal;
}
.footer-social-title {
  color: var(--white);
  font-size: 16px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}
.footer-dark-icon {
  fill: var(--white);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--title-green);
}

.footer-list-nave{
  display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.footer-nave{
font-weight: 400;
font-size: 20px;
line-height: 1.14em;
padding: 5px 0;
color: var(--middle-white);
}
.footer-item{
  margin-bottom: 5px;
}

.copyright {
  color: var(--title-green);

}

@media screen and (min-width: 768px) {
  .footer-address-social{
    display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
  }
    .footer-list-nave {
      display: flex;
      flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 25px;
    }
  .footer-social {
    width: 206px;
    height: 80px;
    margin-left: 90px;
  }
  .footer-item {
      margin-right: 40px;
    }
        .footer-nave {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.14em;
          padding: 5px 0;
          color: var(--middle-white);
        }
}
@media screen and (min-width: 1200px) {
  .copyright {
      color: var(--middle-grey);
       margin-top: 125px;
      margin-left: 90px;
      font-size: 18px;
    }
  .footer-border-line {
      border-bottom: 2px solid var(--green);
    }
  .footer-adres {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid var(--green);
    }
        .footer-item {
          margin-right: 70px;
        }
     .footer-list-nave {
          display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
     }
         .footer-social-title {
          font-size: 24px; 
         }
       .footer-logo-first-text {
        font-size: 46px; 
            }
       .footer-logo-second-text {
           font-size: 46px; 
       }
             .footer-social-item {
               justify-content: space-between;
                margin-top: 20px; 
             }
             .footer {
               padding: 50px 50px; 
            } 
         .footer-address-social {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-evenly;
           align-items: center;
          align-content: center;
           }
          .footer-social {
              width: 350px;
              height: 150px;
               margin-left: 130px;
                 }
}


/*-- MODAL --*/

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 530px;
  min-height: 580px;
  border-radius: 4px;
  background-color: var(--white);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.btn-close {
  cursor: pointer;
  position: absolute;
  contain: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  top: 8px;
  right: 8px;
}
.btn-close:hover {
  fill: var(--blue);
}
.modal-title {
  font-size: 20px;
  font-weight: 700px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.form-fied {
  margin-bottom: 20px;
}
.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}
.form-fied-text {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--grey);
  margin-bottom: 5px;
}
.form-text {
  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 5px 10px;
  resize: none;
  outline: none;
}
.form-text::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.input-wrapper {
  display: block;
  position: relative;
}
.form-input:focus {
  cursor: pointer;
  border-color: var(--blue);
}
.form-input:focus + .form-icon {
  fill: var(--blue);
}
.check-text {
  display: flex;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-bottom: 30px;
}
.check-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-checkbox:checked + .check-text > .check-item {
  background-color: var(--blue);
  border-color: var(--blue);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
.form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  cursor: pointer;

  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--blue);
  color: var(--white);
  font-size: 16px;
  line-height: calc(30 / 16);

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
}
.check-text-link {
  display: flex;
  margin-left: 5px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--blue);
  text-decoration: underline;
}
